subject = "A new subscriber to campaign: "
==

Hi {{ firstname }}, or {{ data.firstname }}

==
New data received from the website containing the following data:
<table class="table table-hover">
	<thead>
		<tr>
			<th width="200">Field</th>
			<th width="10">&nbsp;</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
        {% for key, val in data %}
		<tr>
			<td>{{ key }}</td>
			<td>&nbsp;</td>
			<td>{{val}}</td>
		</tr>
        {% endfor%}
	</tbody>
</table>
