<div id="{{ form_id }}">
    <input type="hidden" name="rules" value="{{ campaign.rules }}">
    <input type="hidden" name="campaign_id" value="{{ campaign.data.id }}">
    <input type="hidden" name="form_id" value="{{ form_id }}">
    <input type="hidden" name="thankyou_title" value="{{ thankyou_title }}">
    <input type="hidden" name="thankyou_text" value="{{ thankyou_text }}">
    <div class="form-row">
        {% for field in campaign.fields %}
        {{ field.form_partial | raw }}
        {% endfor%}
    </div>
</div>