<div class="mt-3 {{ class }} {{ column_width }}">
    {% for option in options %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="radio{{ option.key | slug}}" name="{{ id }}" value="{{ option.key }}" class="custom-control-input">
            {% if hide_labels != 1 %}
            <label class="custom-control-label" for="radio{{ option.key | slug}}">{{ option.value }}</label>
            {% endif %}
        </div>
    {% endfor %}
    <div data-validate-for="{{ id }}" class="invalid-feedback"></div>
    {% if comments %}
    <small id="{{ id }}-comments" class="form-text text-muted">{{data.comments_icon | inline }} {{ comments }}</small>
    {% endif %}
</div>
