<div id="cachesizes" class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>
    <div class="control-chart" data-control="chart-pie" data-size="<?=$radius?>" data-center-text="<?=$data['count'] ?>">
        <ul>
<?php
    foreach($data['subscribers'] as $subscriber) {
?>
            <li><?=$subscriber['name']?><span><hide class="hidden"><?=$subscriber['count']?></hide>&nbsp;<?=$subscriber['count']?></span></li>
<?php } ?>

        </ul>
    </div>
</div>